body {
    background-image: url('https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: MV Boli;
    color: #F8F0E3;
    text-align: center;
    font-size: 300%;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #380036, #0CBABA);
    text-align: center;
    border-radius: 25px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 100px;
    text-decoration: none;
    font-family:  MV Boli;
    font-size: large;
}

li a:hover {
    background-color: #0CBABA;
    border-radius: 25px;
}

h2 {
    font-family: MV Boli;
    color: #F8F0E3;
    text-align: center;
    font-size: 300%;
}

label {
    font-family:  MV Boli;
    color: #F8F0E3;
    font-size: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border-style: outset;
    border: 2px solid #333;
    width: 275px;
    background:#380036;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F8F0E3;
}


/* Custom classes/overrides for styling */
.boxlogin {
    background: linear-gradient(45deg, #380036, #0CBABA);
    width: 385px;
    position: relative;
    top: 20px;
    border: 5px solid #0CBABA;
    border-style: outset;
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}

.boxregister {
    background: linear-gradient(45deg, #380036, #0CBABA);
    width: 385px;
    position: relative;
    top: 20px;
    border: 5px solid #0CBABA;
    border-style: outset;
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}

.boxcontact {
    background: linear-gradient(45deg, #380036, #0CBABA);
    width: 1600px;
    position: relative;
    top: 20px;
    border: 5px solid #0CBABA;
    border-style: outset;
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}

.boxmodal {
    background: linear-gradient(45deg, #380036, #0CBABA);
    width: 490px;
    position: relative;
    top: 20px;
    border: 5px solid #0CBABA;
    border-style: outset;
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}

.boxadd {
    background: linear-gradient(45deg, #380036, #0CBABA);
    width: 490px;
    position: relative;
    top: 20px;
    border: 5px solid #0CBABA;
    border-style: outset;
    border-radius: 25px;
    padding: 50px;
    margin: auto;
}

.buttonsubmit {
    padding: 10px;
    align-items: center;
    background-color: #4CAF50;
    border-style: outset;
    color: white;
    border-radius: 25px;
    border: 2px solid #333;
    width: 275px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.buttonsubmit:hover {
    background-color: #3e8e41;
    border-radius: 25px;
    border: 2px solid #333;
    width: 275px;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonlogout {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 100px;
    text-decoration: none;
    font-family:  MV Boli;
    font-size: large;
    border-radius: 25px;
    border: none;
    background: none;
}

.buttonlogout:hover {
    background: linear-gradient(45deg, #380036, #ba0c0c);
}

.buttonoptions {
    padding: 5px;
    align-items: center;
    background-color: #4CAF50;
    border-style: outset;
    color: white;
    border-radius: 25px;
    border: 2px solid #333;
    width: 150px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonoptions:hover {
    background-color: #3e8e41;
    border-radius: 25px;
    border: 2px solid #333;
    width: 150px;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonedit {
    padding: 5px;
    align-items: center;
    background-color: #ffffff;
    border-style: outset;
    color: black;
    border-radius: 25px;
    border: 2px solid #333;
    width: 50px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonedit:hover {
    background-color: #ffe600;
    border-radius: 25px;
    border: 2px solid #333;
    width: 50px;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttondelete {
    padding: 5px;
    align-items: center;
    background-color: #ffffff;
    border-style: outset;
    color: black;
    border-radius: 25px;
    border: 2px solid #333;
    width: 75px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttondelete:hover {
    background-color: #ff0000;
    border-radius: 25px;
    border: 2px solid #333;
    width: 75px;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonclose {
    padding: 10px;
    align-items: center;
    background-color: #ffffff;
    border-style: outset;
    color: black;
    border-radius: 25px;
    border: 2px solid #333;
    width: 75px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonclose:hover {
    background-color: #686868;
    border-radius: 25px;
    border: 2px solid #333;
    width: 75px;
    cursor: pointer;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Table styling */
table {
    overflow-y: scroll;
    height: 250px;
    width: 1300px;
    display: block;
    background-color: #a5a5a5;
    border: 2px solid #111;
}
  
.trhead {
    top: 0;
    position: sticky;
    background-color: grey;
    border: 1px solid #111;
}
  
.thhead {
    text-align: center;
    font-size: 125%;
    width: 260px;
    border: 1px solid #111;
}
  
.thbody {
    text-align: center;
    font-size: 100%;
    width: 260px;
    border: 1px solid #111;
}